<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <!---Lors du submit, la methode passera en param l'ensemble du formulaire nommé form_edit_user. ngForm est une directive --->
    <form #form_edit_post="ngForm"
          (ngSubmit)="onSubmit(form_edit_post)">
      <div class="form-group">
        <label for="title">
          Titre
        </label>
        <!--- required : attribut Angular stipulant que ce champ doit etre rempli --->
        <input class="form-control"
               id="title"
               name="title"
               ngModel
               required
               type="text">
      </div>
      <div class="form-group">
        <input class="form-control"
               id="content"
               name="content"
               ngModel
               required
               type="text">
      </div>
      <div class="form-group">
        <label for="loveIts">
          LoveIts :
        </label>
        <!--- [ngModel] du property binding suffit  à afficher la valeur de la var "loveIts" declarée dans le fichier ts,
        Il n'est pas utile d'utiliser le two-way-binding avec [(ngModel)] puisqu'on ne fait que recuperer la valeur
        declarée de la var dans le fichier ts. ce qu'on renvoi, on le recupere par un form.control.
        La valeur de "loveIts" change grace aux events 'LoveMe() ou HateMe() --->
        <input [ngModel]="loveIts"
               class="form-control"
               disabled
               id="loveIts"
               name="loveIts"
               required
               type="number">

        <!--  Event binding : appel de methode par objet du tableau de composant récupéré de l'API. Pour ne pas
        soumettre le form depuis ici, il faut declarer ces element en tant que input de type "button", et non pas
        directement la balise button -->
        <input (click)="onSingleLove()" class="btn btn-success" type="button"
               value="Love !! ">
        <input (click)="onSingleHate()" class="btn btn-danger" type="button"
               value="Don't love !!!">
      </div>

      <!--- [disabled] : le bouton est desactivé si le form n'est pas valable --->
      <button [disabled]="form_edit_post.invalid"
              class="btn btn-primary"
              type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>
