<!--Barre de navigation-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- RouterLinkActive permet de surligner la partie du menu correspondant à la page actuellement affichée
             routerLink permet de mettre en place la navigation entre les pages des composants sans rechargement de page = SPA-->
        <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="posts">Liste des posts</a></li>
        <li routerLinkActive="active"><a routerLink="new">Créer un post</a></li>

      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <button (click)="goToNew()" *ngIf="this.router.url === '/posts' || this.router.url === '/'"
          class="btn btn-success">Ajouter un post
  </button>
</div>


