<!--Directive pour changer de classe bootstrap en fonction d'une condition-->
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-info': postLoveIts === 0,
                'list-group-item-danger': postLoveIts < 0}"
>

  <!--  interpolation : on fait appel à une fonction pour afficher le statut d'un appareil, et non pas à la valeur d'une var-->
  <h4>{{postTitle}} </h4>
  <p class="text-right" type="Date"> {{postDate}}</p>
  <p type="text">{{postContent}}</p>

  <!--  Event binding : appel de methode par objet du tableau de composant récupéré de l'API-->
  <button (click)="onLove()"
          class="btn btn-success">Love !!!
  </button>
  <button (click)="onHate()"
          class="btn btn-danger">Don't love !!!
  </button>
</li>
